/node_modules
/public/hot
/public/storage
/public/invoices
/public/debit_notes
/public/credit_notes
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/app